<script src="{{ site.github.url | prepend: site.baseurl }}/assets/js/jquery-1.12.0.min.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/assets/js/jquery.fitvids.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/assets/js/prism.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/assets/js/photoswipe.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/assets/js/photoswipe-ui-default.js"></script>
<script src="{{ site.github.url | prepend: site.baseurl }}/assets/js/post.js"></script>